h1 {
    color: #FF0000;
    font-family: Arial;
}

p {
    padding: 10px;
    font-family: Arial;
}

p:nth-child(3) {
    background: #CCCCCC;
    color: #111111;
}

p:nth-child(4) {
    background: #55DD55;
    color: #006600;
}

p:nth-child(5) {
    background: #CCCCCC;
    color: #555555;
}

p:nth-child(6) {
    background: #DDDD55;
    color: #666600;
}

p:nth-child(7) {
    background: #DD5555;
    color: #660000;
}