<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Название временной страницы</title>
</head>
<body>
<!--div.table_container>table.my_table>tr.my_row*5>td*3>{Арбуз}-->
<div class="table_container">
    <table class="my_table">
        <tr class="my_row">
            <td>Арбуз</td>
            <td>Арбуз</td>
            <td>Арбуз</td>
        </tr>
        <tr class="my_row">
            <td>Арбуз</td>
            <td>Арбуз</td>
            <td>Арбуз</td>
        </tr>
        <tr class="my_row">
            <td>Арбуз</td>
            <td>Арбуз</td>
            <td>Арбуз</td>
        </tr>
        <tr class="my_row">
            <td>Арбуз</td>
            <td>Арбуз</td>
            <td>Арбуз</td>
        </tr>
        <tr class="my_row">
            <td>Арбуз</td>
            <td>Арбуз</td>
            <td>Арбуз</td>
        </tr>
    </table>
</div>
</body>
</html>